<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Boolzapp</title>

        <script src="./assets/js/main.js" defer></script>
        <!-- /js -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300&display=swap"
            rel="stylesheet">
        <!-- /font -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
            crossorigin="anonymous">
        <!-- /bootstrap -->
        <link rel="stylesheet" href="./assets/css/style.css">
        <!-- /css -->
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
            integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- /font-awesome -->
        <link rel="icon" href="./assets/img/whatsapp-logo-1.png"
            type="image/png">
        <!-- /logo -->
    </head>

    <body>

        <div id="app">

            <div class="container h_container">

                <!-- -------------HEADER------------- -->
                <header class=>

                    <div class="row">

                        <div class="col-4">

                            <div id="main_user"
                                class="d-flex justify-content-between p-2 pe-3">
                                <div class="d-flex gap-2 align-items-center">

                                    <div class="user_pic">
                                        <img src="./assets/img/ln.jpeg"
                                            alt>
                                    </div>
                                    <!-- /.user_pic -->

                                    <div class="user_name">
                                        Lorenzo
                                    </div>
                                </div>
                                <div
                                    class="settings d-flex align-items-center gap-3">
                                    <i class="fa-solid fa-circle-notch fa-lg"></i>
                                    <i class="fa-solid fa-message fa-lg"></i>
                                    <i
                                        class="fa-solid fa-ellipsis-vertical fa-lg"></i>
                                </div>
                            </div>
                            <!-- /#main_user -->

                        </div>
                        <!-- /.col-4 -->

                        <div class="col-8">
                            <div id="open_chat"
                                class="d-flex justify-content-between p-2 pe-3">
                                <div class="d-flex gap-2 align-items-center">

                                    <div class="user_pic">
                                        <img
                                            :src="contacts[activeContact].avatar"
                                            alt>
                                    </div>
                                    <!-- /.user_pic -->
                                    <div>
                                        <div class="user_name">
                                            {{contacts[activeContact].name}}
                                        </div>
                                        <div class="user_status">
                                            Ultimo accesso oggi alle ####
                                            <!-- ######### TO DO ######### -->
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="settings d-flex align-items-center gap-3">
                                    <i
                                        class="fa-solid fa-magnifying-glass fa-lg"></i>
                                    <i class="fa-solid fa-paperclip fa-lg"></i>
                                    <i
                                        class="fa-solid fa-ellipsis-vertical fa-lg"></i>
                                </div>
                            </div>
                        </div>
                        <!-- /.col-8 -->
                    </div>
                    <!-- /.row -->
                </header>
                <!-- -------------/HEADER------------- -->

                <main>
                    <div class="row">
                        <div class="col-4 bg-white">

                            <div id="notifications"
                                class="d-flex gap-2 align-items-center p-2 ps-3">
                                <div id="bell"
                                    class="rounded-circle d-flex justify-content-center align-items-center">
                                    <i class="fa-solid fa-bell-slash fa-lg"></i>
                                </div>
                                <!-- /bell icon circle -->
                                <div>
                                    <div class="fs_16">
                                        Ricevi notifiche di nuovi messaggi
                                    </div>
                                    <div
                                        class="text-decoration-underline user_status active_notifications fs_14">
                                        Attiva notifiche desktop
                                    </div>
                                </div>
                            </div>
                            <!-- /#notifications -->

                            <form id="input_search"
                                class="d-flex input-group p-2 ps-3"
                                role="search">

                                <button
                                    class="btn bg-white"
                                    id="searchbar">
                                    <i
                                        class="fa-solid fa-magnifying-glass fa-md"></i>
                                </button>

                                <input id="search" type="text"
                                    class="form-control shadow-none"
                                    placeholder="Cerca o inizia una nuova chat"
                                    aria-label="Search"
                                    aria-describedby="searchbar"
                                    v-model="searchText"
                                    @input="filterContacts">
                            </form>
                            <!-- /input_search -->

                            <div class="scroll">

                                <div id="preview_chat"
                                    class="d-flex gap-2 align-items-start justify-content-between p-2 ps-3"
                                    v-for="(contact, i) in filteredContacts"
                                    :key="i"
                                    @click="selectContact(i)"
                                    :class="i == activeFilteredContact ? 'open_chat_bg' : 'close_chat_bg'">

                                    <div
                                        class="info_chat d-flex justify-content-between gap-2">

                                        <div class="user_pic">
                                            <img :src="contact.avatar"
                                                alt="avatar">
                                        </div>
                                        <!-- /.user_pic -->

                                        <div>
                                            <div class="user_name">
                                                {{contact.name}}
                                            </div>
                                            <div class="user_status">
                                                {{contact.messages[contact.messages.length
                                                -
                                                1].message}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="time">

                                        <!-- ############# TO DO ############# -->
                                        {{contact.messages[contact.messages.length
                                        -
                                        1].date}}

                                    </div>
                                    <!-- /.info_chat -->
                                </div>
                                <!-- /#preview_chat -->

                            </div>
                            <!-- /.scroll -->

                        </div>
                        <!-- /.col-4 -->

                        <div id="bg_chat" class="col-8">
                            <div class="container">

                                <div
                                    v-for="(message, index) in contacts[activeContact].messages">

                                    <div class="row mb-2 justify-content-end"
                                        v-if="message.status === 'sent'"
                                        :key="index">

                                        <div class="col-4">
                                            <div class="message my_message">
                                                {{ message.message }}
                                                <div class="time_message">
                                                    {{ message.date }}
                                                    <!-- {{ message.date }} -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.row -->

                                    <div class="row mb-2" v-else>
                                        <div class="col-4">
                                            <div class="message">
                                                {{ message.message }}
                                                <div class="time_message">
                                                    {{ message.date }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.row -->

                                </div>

                            </div>
                            <!-- /.container -->

                        </div>
                        <!-- /.col-8 /#bg_chat -->

                        <!-- ------PARTE BASSA CHE COMPRENDE SPAZIO BIANCO E MESSAGE BAR------ -->
                        <div class="col-4 bg-white">

                        </div>

                        <div class="col-8">

                            <div id="message_bar">

                                <div
                                    class="d-flex p-3 pe-4 ps-4 align-items-center">

                                    <span
                                        class="btn bg-transparent border-0 pe-4 ">
                                        <i
                                            class="fa-regular fa-face-smile fa-lg"></i>
                                    </span>

                                    <input type="text"
                                        class="w-100 border-0 p-2"
                                        placeholder="Scrivi un messaggio"
                                        v-model="userText"
                                        @keyup.enter="sendMessage">

                                    <button
                                        class="btn bg-transparent border-0 ps-4">
                                        <i class="fa-solid fa-microphone fa-lg"></i>
                                    </button>

                                </div>

                            </div>
                            <!-- /#message_bar -->

                        </div>
                        <!-- /.col-8 -->
                        <!-- ------/PARTE BASSA CHE COMPRENDE SPAZIO BIANCO E MESSAGE BAR------ -->

                    </div>
                    <!-- /.row -->

                </main>

            </div>
            <!-- /.container -->

        </div>
        <!-- /.background -->

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
        <!-- /bootstrap -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <!-- /vue_js -->
    </body>
</html>